.nft {
  border-radius: 20px;
  background-color: var(--gray-100);
}

.nft__image {
  position: relative;
  overflow: hidden;
  height: 240px;
  border-radius: 20px 20px 0 0;
}
.nft__image a {
  height: 100%;
  display: flex;
  align-items: center;
}

.nft__avatar {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}
.nft:hover .nft__avatar {
  transform: scale(1.1);
}

.nft__content {
  padding: 20px;
}
.nft__content h5 {
  margin-bottom: 5px;
}

.nft__provider {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nft__provider svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 768) {
  .nft__image {
    height: 280px;
  }
}
